:root {
  --yellow: #FFC100;
  --lightgrey: #ccc;
}

* {
  font-family: Arial, sans-serif;
  /* background-color: #ceaeae; */
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  color: #333;
}

/*============== Home Page ==============*/
.container {
  display: flex;
  justify-content: space-between;
}

.left-div {
  flex-basis: 40%;
  padding: 2rem;
}

.left-div img {
  width: 100%;
}

.right-div {
  flex-basis: 50%;
  padding: 2rem;
}

.text_background {
  width: 200px;
  height: 100px;
}

.text_background:nth-of-type(1) {
  background-color: var(--yellow);
}

.text_background:nth-of-type(3) {
  background-color: black;
}

/*============== Displaying SQL tables ==============*/
.hidden {
  display: none;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupContainer { 
  height: 90vh;
  overflow: auto;
}

#popupContent {
  text-align: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
