<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winnipeg Bus Lookup</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/bus.ico') }}">

  {# CSS #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="{{ url_for('home', filename='index.html') }}"><img
            src="{{ url_for('static', filename='img/bus.png') }}" alt="" class="img-fluid" /></a>
        <h1 class="text-light">
          <a href="{{ url_for('home', filename='index.html') }}"><span>Winnipeg Bus Lookup</span></a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="active" href="{{ url_for('home', filename='index.html') }}">Home</a>
          </li>
          <li>
            <a href="https://github.com/nateng98/Winnipeg-Bus-Lookup">Source Code</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main_body">
    {# Lists of queries #}
    <div class="left-div form_container">
      <h3>QUERIES</h3>
      <form action="/query1" method="post">
        <p>Get all stop number, route number and route_destination where stop id is between 151636 and 203924</p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      {# <form action="/query2" method="post">
        <p>People's first and lastname (no duplicate) that 
        live in MB
          <label for="province">[provinceID] </label>
          <input class="user_input" type="text" id="province" name="province" required />
        and have bought a quick chop
          <label for="product">[prodName] </label>
          <input class="user_input" type="text" id="prodName" name="prodName" required />
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query3" method="post">
        <p>People in MB that have not bought a product that is over $99</p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query4" method="post">
        <p>Product names for products viewed by a person but not
          bought by that person, for all people that live in Manitoba
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>
      
      <form action="/query5" method="post">
        <p>Product names for products viewed by a person but not
          bought by that person, for all people that live in 
          <label for="province">[provinceID] </label>
          <input class="user_input" type="text" id="province" name="province" required />  
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form> #}

      {# <button id="closePopup">X</button> #}
    </div>

    {# result #}
    <div id="popupContainer" class="right-div animate__animated animate__fadeIn">
      <div id="popupContent">

        <table border="1" id="myTable">
          <thead>
            <tr>
              <th>#</th>
              {% for col in columns %}
              <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in result %}
            <tr>
              <td>{{ loop.index }}</td>
              {% for val in row %}
              <td>{{ val }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <script src="/static/js/script.js"></script>
</body>

</html>