<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winnipeg Bus Lookup</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/bus.ico') }}">

  {# CSS #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="{{ url_for('home', filename='index.html') }}"><img
            src="{{ url_for('static', filename='img/bus.png') }}" alt="" class="img-fluid" /></a>
        <h1 class="text-light">
          <a href="{{ url_for('home', filename='index.html') }}"><span>Winnipeg Bus Lookup</span></a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="active" href="{{ url_for('home', filename='index.html') }}">Home</a>
          </li>
          <li>
            <a href="https://github.com/nateng98/Winnipeg-Bus-Lookup">Source Code</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main_body">
    {# Lists of queries #}
    <div class="left-div form_container">
      <h3>QUERIES</h3>
      <form action="/query1" method="post">
        <p>List all bus routes along with their stops</p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query2" method="post">
        <p>Find the busiest hour for a specific route
          <input class="user_input" type="text" id="route_num" name="route_num" placeholder="e.g.BLUE" required />
        on a particular day
          <input class="user_input" type="text" id="the_date" name="the_date" placeholder="e.g.2022-07-16" required />
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query3" method="post">
        <p>Retrieve top # 
          <input class="user_input" type="text" id="top_num" name="top_num" placeholder="e.g.10" required />
        the weather conditions during days with the highest total traffic</p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query4" method="post">
        <p>List routes that experienced pass-ups due to certain amount 
          <input class="user_input" type="text" id="traffic" name="traffic" placeholder="e.g.100" required />
        of traffic on a specific date
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>
      
      <form action="/query5" method="post">
        <p>Identify days with unusually high deviations across all routes 
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query6" method="post">
        <p>Find
          <input class="user_input" type="text" id="top_num" name="top_num" placeholder="e.g.10" /> 
          the stops where the number of boardings significantly differs from alightings 
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query7" method="post">
        <p>Compares the average deviation before and after the route was created. Select the date:
        <input class="user_input" type="text" id="the_date" name="the_date" placeholder="e.g.2022-07-16" required />
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query8" method="post">
        <p>Find routes with the highest average deviations
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query8" method="post">
        <p>Identify stops with the highest and lowest traffic on a specific date and time
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query9" method="post">
        <p>Identify stops with the highest and lowest traffic on a specific date and time
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query10" method="post">
        <p>Weather and Traffic Adventure - Discover the Best Weather Days with Low Traffic
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      <form action="/query11" method="post">
        <p>Conditional Aggregation of Arrival Deviations
        </p>
        <input class="execute" type="submit" value="▷ Execute" />
      </form>

      {# <button id="closePopup">X</button> #}
    </div>

    {# result #}
    <div id="popupContainer" class="right-div animate__animated animate__fadeIn">
      <div id="popupContent">

        <table border="1" id="myTable">
          <thead>
            <tr>
              <th>#</th>
              {% for col in columns %}
              <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in result %}
            <tr>
              <td>{{ loop.index }}</td>
              {% for val in row %}
              <td>{{ val }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <script src="/static/js/script.js"></script>
</body>

</html>