<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display SQL Database Table</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <h1>Table Contents</h1>
    {# <button id="openPopup">Run Query</button>

    <div id="popupContainer" class="hidden">
      <div id="popupContent">
        <button id="closePopup">X</button>
        <table>
          <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <!-- Add more column headers as needed -->
          </tr>
          {% for row in table_rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <!-- Add more cells as needed -->
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    #}
    <h1>Query Result</h1>
    <table border="1">
      <tr>
        {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
      {% for row in result %}
      <tr>
        {% for val in row %}
        <td>{{ val }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <div class="resultContainer" id="result"></div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
