<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {# Header #}
    <header id="header">
      <h1>Winnipeg Bus Lookup</h1>
      <nav>
      </nav>
    </header>

    {# Main #}
    <div class="container">
      <div class="left-div">
        <img src="{{ url_for('static', filename='img/bus.png') }}" alt="Bus">
      </div>
      <div class="right-div">
        <h2>Overview</h2>
        <div id="textBg1" class="text_background"></div>
        <div id="textDiv" class="overview">
          <p>The "Winnipeg Bus Lookup" is an ambitious undertaking aimed at creating 
          an expansive and user-friendly database system, facilitating convenient access
          to Winnipeg bus schedules, traffics and weather data in the past. This integrated 
          resource is poised to deliver invaluable insights into how weather conditions 
          and traffics have influenced the efficiency and reliability of public transportation 
          services within the city. This initiative holds great potential for researchers, 
          urban planners, and transit authorities, empowering them with the ability to 
          scrutinize trends, identify patterns, and make informed decisions aimed at 
          optimizing the delivery of public transportation services in Winnipeg.</p>
          <div class="link">
            <a href="{{ url_for('display_table', filename='display.html') }}">Display</a>
            <a href="">Source Code</a>
          </div>
        </div>
      </div>
    </div>
    {# End Main #}
    {# <script src="/static/js/script.js"></script> #}
  </body>
</html>
