<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {# Header #}
    <header>
      <h1>Winnipeg Bus Lookup</h1>
      <nav>
      </nav>
    </header>

    {# Main #}
    <div class="container">
      <div class="left-div">
        <img src="{{ url_for('static', filename='img/bus.png') }}" alt="Bus">
      </div>
      <div class="right-div">
        <h3>Overview</h3>
        <div class="text_background"></div>
        <div>
          <p>this project establishes a comprehensive database for accessing Winnipeg 
          bus schedules and weather information in the past, offering valuable insights 
          into the impact of weather on public transportation efficiency in Winnipeg.</p>
        </div>
        <div class="text_background"></div>
        <a href="{{ url_for('display_table', filename='display.html') }}">Display</a>
      </div>
    </div>
    {# End Main #}
  </body>
</html>
